Admin-Panel/node_modules
Admin-Panel/.pnp
Admin-Panel/.pnp.*
Admin-Panel/.yarn/*
Admin-Panel/!.yarn/patches
Admin-Panel/!.yarn/plugins
Admin-Panel/!.yarn/releases
Admin-Panel/!.yarn/versions
Admin-Panel/coverage
Admin-Panel/.next/
Admin-Panel/out/
Admin-Panel/build
Admin-Panel/.DS_Store
Admin-Panel/*.pem
Admin-Panel/npm-debug.log*
Admin-Panel/yarn-debug.log*
Admin-Panel/yarn-error.log*
Admin-Panel/.pnpm-debug.log*
Admin-Panel/.env*
Admin-Panel/.vercel
Admin-Panel/*.tsbuildinfo
Admin-Panel/next-env.d.ts

Frontend-Website/node_modules
Frontend-Website/.pnp
Frontend-Website/.pnp.*
Frontend-Website/.yarn/*
Frontend-Website/!.yarn/patches
Frontend-Website/!.yarn/plugins
Frontend-Website/!.yarn/releases
Frontend-Website/!.yarn/versions
Frontend-Website/coverage
Frontend-Website/.next/
Frontend-Website/out/
Frontend-Website/build
Frontend-Website/.DS_Store
Frontend-Website/*.pem
Frontend-Website/npm-debug.log*
Frontend-Website/yarn-debug.log*
Frontend-Website/yarn-error.log*
Frontend-Website/.pnpm-debug.log*
Frontend-Website/.env*
Frontend-Website/.vercel
Frontend-Website/*.tsbuildinfo
Frontend-Website/next-env.d.ts

*.DS_Store