name: Deploy to GCS

on:
  push:
    branches: ["master"]
    paths:
      - "Frontend-Website/**"
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Frontend-Website

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Export Static Site
        run: npm run build

      # Authenticate to Google Cloud
      - name: Authenticate with GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      # Install gcloud (now authenticated)
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # Sync build output to bucket
      - name: Upload to GCS
        run: |
          gsutil -m rsync -r ./out gs://www.talalmajeed.com
